<h1>Nuevo punto de entrega añadido!</h1>
<p>
    Nombre: <%= @puntodeentrega.nombre %>
</p>
<p>
    Habitantes Beneficiados: <%= @puntodeentrega.habitantesBeneficiados %>
</p>
<p>
    Ubicacion: <%= @puntodeentrega.ubicacion %>
</p>