<h1>Nuevo recolector añadido!</h1>
<p>
    Nombre: <%= @recolectore.nombre %>
</p>
<p>
    Apellido: <%= @recolectore.apellido %>
</p>
<p>
    Telefono: <%= @recolectore.telefono %>
</p>
<p>
    Correo: <%= @recolectore.correo %>
</p>