<div class="center jumbotron">
    <h1>Gatherer Food!</h1>
	<p>Esta es una aplicacion creada con el fin de... para que tu.... con las empresas que manejan comida y muchas veces botan los desperdicios. Aca tenemos un sistema para recolectarlos, almacenarlos y distribuirlos!</p>
	<p><%= link_to 'Iniciar Sesion', pages_login_path, class: "btn btn-primary btl-lg" %> </p>
	<p><%= link_to 'Registrarse', users_new_path, class: "btn btn-primary btl-lg" %></p>	
</div>