<!DOCTYPE HTML>
<HTML>
    <head>   
    </head>
<body>
    <h1>Bienvenidos!</h1>
    <%= link_to 'login', pages_login_path %>
    <%= link_to 'registrate', posts_newPost_path %>
    <h1>FUnciona!</h1>
</body>
</HTML>
