<header>
	<div class="center jumbotron">
	   <div class="container">
    		<h1>Ingresar</h1></br>
    		<p>
                <h4>Usuario</h4><br/>
                <input title="Please Enter Your First Name" id="first" name="first" type="text" />
            </p>
            <p>
                <h4>Contraseña</h4><br/>
                <input title="Please Enter Your First Name" id="first" name="first" type="text" />
            </p></br>
            <p>                   
                <%= link_to 'Ingresar', root_path, class: "btn btn-primary btl-lg" %>
            </p>
        </div>
	</div>				
</header>
<br>
<br>
<%= link_to 'Home', root_path %>

