<h1>Nueva donacion añadida!</h1>
<p>
    Organizacion a la que representa: <%= @recolectaspendiente.organizacion %>
</p>
<p>
    Fecha de entrega: <%= @recolectaspendiente.fecha %>
</p>
<p>
    Direccion de la Donacion: <%= @recolectaspendiente.direccion %>
</p>
<p>
    Cantidad en Kilos: <%= @recolectaspendiente.cantidadKilos %>
</p>